/*  ==========================================================================================
                                        General Styling
    ========================================================================================== */


body {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  background-image: url("/images/background.png");
}
/*sets margins for all headers*/
header {                        
  margin: 1% 0 0.75% 5%;
  }

/*sets a bottom margin on all subheadings*/
h2 { 
  margin-bottom: 20px;
}

/*sets an extra wide margin for div elements on large devices*/
@media screen and (min-height: 825px) {
  div {
    margin-bottom: 2.5%;
  }
}

/*sets an extra wide margin for div elements on small devices*/

@media screen and (max-width: 575px) {
  div {
    margin-bottom: max(25px, 1.75%);
  }
}

/*footer background: set color and position*/
footer {
    background-color: #1a3147;
    color: white;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
/*footer text styling*/
footer p { 
  position: absolute;
  right: 5%;
  bottom: 20%;
  margin: 0;
  font-family: "Garamond", serif;
  font-style: italic;
  font-size: clamp(20px, 1vw, 24px); /*sets a minimum and maximum font size*/
}
  
/*  ==========================================================================================
                                 Index, About, & References pages
    ========================================================================================== */

/*apply an extra margin on all main contents*/
#index, #about, #references {
  margin-left: 5%;
  margin-right: 5%;
}

/*indent certain paragraphs of text*/
.indent p {
  margin-left: 30px;
  margin-right: 4%;
}

/*Boxes with a drop-shadow in the foreground of the viewing window*/
.foreground-box {
  border: 1px  rgb(238, 238, 238);
  border-radius: 20px; /*add a border radius*/
  background-color: rgb(238, 238, 238);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /*add a shadow effect*/
  padding: 15px;
}

#video-bank { 
  margin-left: 5%;
  margin-bottom: 35px;
}

/* resize the instruction icon */
#inst-icon {
  font-size: 1.3rem;
  font-weight: bold;
  color: #0b0c0e;
}
/* changed the div width and restricted selection & copying */
.inst-text {
  width: 210px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-select: none;
}
/* changing the cursor and transform to  when hover over the instruciton text/img */
.inst-text:hover {
  cursor: pointer;
}

/*adds a bottom margin for small screens 
so that the 'add video' button is not cut off*/
@media (max-width: 800px), (max-height: 800px) {
  #parameters { 
    margin-bottom: 50px;
  }

  #new-video { 
    margin-bottom: 75px;
  }
}


/*center the start button and add a margin*/
#start-button { 
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

/* width for start and remove btns and space between them */
.both-btn {
  margin-left: 5px;
  width: 95px;
}

/*separate labels from input forms for readability*/
#new-video label, #parameters label { 
  padding-right: 7px;
}

/*  ==========================================================================================
                                       Assessment page
    ========================================================================================== */

/*center divs*/
.assessment-body div {
  text-align: center;
}

.video-column-inner {
  float: left;
  width: 50%;
  position: relative;
}

.video-row-outer:after {
content: "";
display: table;
clear: both;
}

.video-column-outer:after {
content: "";
display: table;
clear: both;
}

/*fit thumbnails into buttons*/
img iframe {
  max-width: 100%;
  max-height: 100%;
}

/* img and iframe positioning for horizontal presentation mode */
.video-column-inner img, .video-column-inner iframe {
  max-width: 80%;
  max-height: 80%;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

/* img and iframe positioning for vertical presentation mode */
.video-row-inner image, .video-row-inner iframe {
  max-width: 80%;
  max-height: 80%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* detector positioning for horizontal presentation mode */
.video-column-inner #detector1, .video-column-inner #detector2 {
    margin-top: 15vh;
    margin-bottom: 10vh;
    margin-left: 10%;
}

/* detector positioning for vertical presentation mode */
.video-row-inner #detector1, .video-row-inner #detector2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 15%;
}

/* detector positioning, including z-positioning to place them in front of their iframes */
#detector1, #detector2 {
    z-index:1;
    position:absolute;
    max-width: 80%;
    max-height: 80%;
    height:315px;
    width:560px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/*  ==========================================================================================
                                       Decision page
    ========================================================================================== */

/*Bootstrapped title: add background and shadows*/
.jumbotron-title {
  padding: 50px;
  background-color: #a2afbd;
  text-align: center;
  color: #0b0c0e;
}

/*center the buttons*/
.decision-buttons {
  text-align: center;
}

/*button size and margins*/
.btn-result, .btn-over {
  border-width: 2px;
  border-radius: 20px;
  font-size: min(5vw, 24px);
  padding: 2% 4%;
  margin-top: 7vh;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);  
}

/*button color and border*/
.btn-result {
  background-color: #28a745;
  border-color: #000000;
  color: #fff;
}
  
.btn-over {
  background-color: black;
  border-color: #000000;
  color: #fff;
  margin-bottom: 20vh; /*extra bottom margin so that the footer does not cover up the button*/
}

/*button fade on hover*/
.btn-result:hover {
  background-color: #3bce5d;
  border-color: #000000;
  color: #fff;
}

.btn-over:hover {
  background-color: #303030;
  border-color: #000000;
  color: #fff;
}

/*  ==========================================================================================
                                        Results page
    ========================================================================================== */

/* all section styling */
.results section {
  width: 85%;
  margin: 20px auto;
}

.results div {
    padding-top: 1%;
    padding-bottom: 1%;
}

.duration label {
  margin-left: 30px;
  margin-right: 4%;
}

/* changing title styling */
#res-title {
  background-color: transparent;
  box-shadow: none;
  letter-spacing: 13px;
}

/* font-size for texts "Assessment Outcomes" and "Graph"  */
.title-text {
  font-size: 3.5vmin;
}
/* the line under the "Results" text  */
#res-title hr {
  width: 50%;
  margin: 0px auto;
}
/* style for Result header section */
#first-sec {
  margin: 10px auto;
  font-size: 60vmin;
  letter-spacing: 5px;
}

.results .res {
  display: flex;
  align-items: center;
  width: 100%;
  color: black;
}

/* graph and outcomes section as a row */

.results .row {
  display: flex;
  flex-wrap: wrap;
}

.results .col {
  margin: 10px;
  width: 450px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(68, 94, 118);
  background-color: #eeeeee92;
  display: flex;
  flex-direction: column;
}

/* assessment page text */
.results .assess-title h2, .graph-text {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: clamp(20px, 6vmin, 45px); /*sets a minimum and maximum font size*/
  font-family: Garamond, "Times New Roman", Times, serif;
  text-align: center;
}

/* 'assessment outcomes' table text sizing and fonts */
.video-table {
  margin: 7.5px 5vw 15px 7vw;
  font-size: clamp(20px, 2.5vmin, 30px); /*sets a minimum and maximum font size*/
  font-family: Garamond, "Times New Roman", Times, serif;
}

.duration {
  margin: 20px 5vw 50px 5vw;
  font-size: clamp(20px, 2.5vmin, 30px);
  font-family: Garamond, "Times New Roman", Times, serif;
}

.duration h2 {
  font-size: clamp(24px, 2vmin, 24px);
}

.results .centered {
  text-align: center;
}

/* applies flexbox layout properties to buttons */
.btn-div {
  display: flex;
  float: right;
  margin: -15px 15px 90px auto;
}

/* button spacing, borders, and color scheme */
.b-main {
  margin-right: 1vw;
}
.b-main .refresh {
  padding: auto;
}

/*  ==========================================================================================
                                        loader styling
    ========================================================================================== */


    .loader {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      position: fixed;
      background-color: rgb(249, 252, 255);
      justify-content: center;
      align-items: center;
      transition: opacity 0.75s, visibility 0.75s;
    }
    
    .loader-hidden {
      opacity: 0;
      visibility: hidden;
    }
    
    .loader::after {
      content: "";
      height: 25px;
      width: 25px;
      border: 3px solid #131212;
      border-top: 3px solid transparent;
      border-radius: 50%;
      -webkit-animation: spin 0.75 linear infinite;
      animation: spin 0.75s linear infinite;
    
    }
    @keyframes spin {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
    }
    
    /* for safari */
    @-webkit-keyframes spin {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
    }
    