/* General */


header {
    margin-left: 5%;
    margin-bottom: 25px;
  }

body {
    background-color: #d5e1ed;
  }

footer {
    background-color: rgb(26, 49, 71);
    color: white;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    position: absolute;
    right: 50px;
    bottom: 20%;
    margin: 0;
    font-family: "Garamond", serif;
    font-style: italic;
  }
  

/* Index page*/

h2 {
    margin-bottom: 30px;
}

#index {

    margin-left: 5%;
    margin-right: 5%;

  }

#instructions {
    margin-bottom: 25px;
}

#video-bank {
    margin-left: 5%;
    margin-bottom: 35px;
}

@media (max-width: 767px) {
    #video-bank .col-6 {
        width: 100%;
    }
}

#start-button {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }

#parameters {
    margin-bottom: 35px;
}

#new-video {
    margin-bottom: 125px;
}

  
  
  
/* Assessment page*/

/* Decision page*/
.jumbotron-title {
    padding: 50px;
    background-color: #f8f9fa;
    text-align: center;
    color: #074588;
}

.decision-buttons {
    text-align: center;
  }
  
  .btn-result, .btn-over {
    font-size: 2rem;
    padding: 20px 40px;
    margin-top: 100px;
    
  }
  
  .btn-result {
    background-color: #28a745;
    border-color: #000100;
    color: #fff;
  }
  
  .btn-over {
    background-color: #181164;
    border-color: #020302;
    color: #fff;
  }


/* Results page*/

.results body.decision {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #34788c
}

.results #first-sec {
    margin: 80px auto 0px auto;
    font-size: 4vmin;
    letter-spacing: 5px;
}
/* all section styling */
.results section {
    width: 80%;
    margin: 20px auto;
}


/* style for Result text title */
.results .res {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: whitesmoke;
}

/* graph and outcomes section as a row */
.results .row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.results .res-sec {
    align-items: center;
}

.results .row .col {
    margin: 10px;
    width: 450px;
    height: 350px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(179, 179, 179);
    background-color: rgb(233, 233, 233);
}


.results .video-table {
    margin: auto 40px auto;
}

.results .duration {
    margin: auto 0px auto 30px;
}

/* assessment and graph text */
.results .assess-title h2, .graph-text {
    font-size: 4vmin;
    text-align: center;
}

/* buttons  */
.results .btn-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.results .b {
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 15px;
    border-width: 1px;
}
.results .b-main {
    background-color: rgba(190, 22, 22, 0.898);
    color: white;
    margin-left: 610px;
}
.results .b-save {
    margin-right: 120px;
}
.results .b-main:hover {
    background-color: rgb(150, 0, 0);
}
.results .b-save:hover {
    background-color: rgb(174, 176, 174)
}
.results #myChart {
    background-color: none;
}

/* Responsive for smaller devices */
@media only screen and (max-width: 850px){

    .results .section  .row {
        flex-direction: column;
    }
    
    .results .row .col {
        width: 90%;
        margin: 10px auto;
    }

    .results .b {
        height: 30px;
        width: 120px;
        margin-top: auto;
    }

    .results .btn-div {
        flex-direction: column;
        align-items: center;
    }
    .results .b-main {
        background-color: rgba(190, 22, 22, 0.898);
        color: white;
        margin: auto auto 10px auto;
    }
    .results .b-save {
        margin: auto auto 80px auto;
    }

    .results .row .col {
        height: 300px;
    }
}

